<!-- Vista de la pantalla de mostrar pista. -->
<app-menu-navegador></app-menu-navegador>
<div class="page">
<h2>El resultado de pistas es: </h2>
<table >
<tbody>
  <tr>
    <th>Centro deportivo</th>
    <th>Fecha</th>
    <th>Hora inicio</th>
    <th>Hora fin</th>
    <th>Disponibilidad</th>
    <th>Ir</th>
  </tr>
  <tr *ngFor="let product of products">
    <td>Pista X</td>
    <td>{{product.date}}</td>
    <td>{{product.horainicioPartida}}</td>
    <td>{{product.horafinPartida}}</td>
    <td>{{product.disponibilidad}}</td>
    <td><a href={{product.direccion}} class="btn btn-dark">Web</a></td>
  </tr>
 </tbody>
</table>
<button type="button" class="btn btn-dark" (click)="volver()">Volver</button>
</div>