<!-- Vista de la pantalla de mostrar pista. -->
<h2>El resultado de pistas es: </h2>
<table>
  <thead>

  </thead>
  <tbody>
    <!-- <h1>
      {{ final_2 }}
    </h1> -->
    <!-- <tr ngfor(let jugador of array[final_2])> -->
    <tr *ngFor="let resultado of final_2">
      <td>{{ resultado.partida }}</td>
      <td>{{ resultado.fecha }}</td>
      <td>{{ resultado.estado }}</td>
      <td>{{ resultado.inicioHora }}</td>
      <td>{{ resultado.finHora }}</td>
      <td>{{ resultado.url }}</td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-dark" (click)="volver()">Volver</button>