<!-- Vista de la pantalla de recuperación de contraseña. -->
<div class="page">
<h2>Introduzca la información necesaria para la recuperación de contraseña: </h2>
<form class="form" [formGroup]="recuperarForm">
  <label for="email">Correo Electronico: </label>
  <input name="email" formControlName="email" type="email" required>
  <br/>
</form>
<button type="button" class="btn btn-dark" (click)="recuperarPassword()">Recuperar Contraseña</button>
</div>
<dialog id="myDialog">
    <p id ="dialog"></p>
<button id="aceptar" type="submit">Aceptar</button>
</dialog>