<div class="page">
    <h2>Introduzca la información necesaria para la recuperación de contraseña: </h2>
    <form class="form" [formGroup]="recuperarForm">
        <label for="email">Correo Electronico: </label>
        <input name="email" formControlName="email" type="email" required>
        <br/>
    </form>
    <button type="button" class="btn btn-dark" (click)="recuperarPassword()">Recuperar Contraseña</button>
    <button type="button" class="btn btn-dark" (click)="volver()">Volver</button>
</div>
<app-popup></app-popup>