.btn-group-vertical
{
    margin: auto;
    display: flex;
    align-items: center;
    width: 200px;
    height: 150px;
}

h1 
{
    color: white;
    text-align: center;
    font-size: 250%;
}

p{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}
