.btn
{
    margin: 10px auto;
    /*border: 1px solid red;*/
    display: block;
    width: 60%;
}
.permisoLabel
{
    display: inline-block;
    width: 30%;
    text-align: left;
}
.permisoInput
{
    display: inline-block;
    width: 30%;
    text-align: left;
}

