<div class="page">
    <h1>¡Bienvenidos!</h1>
    <br>
    <form [formGroup]="loginForm">
        <input name="email" placeholder="Email" formControlName="email" type="email" required/>
        <br/>
        <input name="password" placeholder="Contraseña" formControlName="password" type="password" required/>
        <br/>
    </form>
    <br>
    <button type="button" class="btn btn-dark" (click)="login()">ACCEDER</button>
    <button type="button" class="btn btn-dark" (click)="irRegistrar()">REGISTRAR</button>
    <button type="button" class="btn btn-dark" (click)="irRecuperarPassword()">RECUPERAR CONTRASEÑA</button>
</div>
<app-popup></app-popup>
