<!-- Vista de la pantalla de inicio de sesión. -->

<!--CABECERA-->
<div class="page-header">
  <h1>¡Bienvenidos!</h1>
</div>
<p>Aquí podreís encontrar la pista de pádel que más se ajuste a vuestras necesidades.</p>

<!--LOGIN-->
<h2>Introduzca sus credenciales: </h2>
<form class="form" [formGroup]="loginForm">
  <label for="email">Email: </label>
  <input name="email" formControlName="email" type="email" required/>
  <br/>
  <label for="password">Contraseña: </label>
  <input name="password" formControlName="password" type="password" required/>
  <br/>
</form>
<!--<button type="button" class="btn btn-dark" (click)="login()">Acceder</button>-->

<!--BOTONERA-->
<div class="btn-group-vertical">
  <!--<button type="button" class="btn btn-dark" (click)="irLogin()">INICIAR SESION</button>-->
  <button type="button" class="btn btn-dark" (click)="login()">ACCEDER</button>
  <button type="button" class="btn btn-dark" (click)="irRegistrar()">REGISTRAR</button>
  <button type="button" class="btn btn-dark" (click)="irRecuperarPassword()">RECUPERAR CONTRASEÑA</button>
</div>