/* You can add global styles to this file, and also import other style files */
html 
{  
    background: url(./imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
